<ol
  class="m-5 grid grid-cols-5 divide-x-2 divide-y-2 divide-gray-500 text-center"
>
  <li class="col-span-2">
    <label>Communication control</label>
  </li>
  <li>
    <label>GPS coordinates:</label>
  </li>
  <li>
    <label>EET time:</label>
  </li>
  <li>
    <label>Satellite count:</label>
  </li>
  <li>
    <label for="select-port">Choose a port:</label>
  </li>
  <li>
    <button type="button" id="select-port" autofocus>Select</button>
  </li>
  <li class="row-span-3"><p id="coordinates">---</p></li>
  <li class="row-span-3"><p id="time">---</p></li>
  <li class="row-span-3"><p id="satellites">---</p></li>
  <li>
    <label for="select-baud-rate">Choose a baud rate:</label>
  </li>
  <li>
    <select id="select-baud-rate">
      <option value="912600">912600</option>
      <option value="115200">115200</option>
      <option value="9600">9600</option>
    </select>
  </li>
  <li class="col-span-2">
    <button type="button" id="connect-port">Connect port</button>
  </li>
  <li class="col-span-2 flex grow flex-col">
    <textarea
      readonly
      cols="70"
      rows="10"
      id="console"
      class="h-full overflow-hidden bg-gray-200 px-1 text-xs lg:text-sm xl:text-base 2xl:text-lg"
    ></textarea>
    <button type="button" id="clear-console">Clear console</button>
  </li>
  <li class="col-span-3">
    <div class="h-full bg-red-100">Graph</div>
  </li>
  <li class="col-span-full">
    <div class="h-60 bg-yellow-100">Map</div>
  </li>
</ol>

<script>
  let serial_port: SerialPort | null;

  const port_button = document.getElementById("select-port");
  port_button?.addEventListener("click", () => {
    serial_port = null;

    navigator.serial
      .requestPort()
      .then((port) => {
        serial_port = port;
      })
      .catch((e) => {
        alert("Please select a port!");
      });
  });

  navigator.serial.addEventListener("disconnect", (e) => {
    // Remove `e.target` from the list of available ports.
    if (e.target === serial_port) {
      serial_port = null;
      alert("Device disconnected!");
    }
  });

  const coordinates = document.getElementById(
    "coordinates",
  ) as HTMLParagraphElement;
  const time = document.getElementById("time") as HTMLParagraphElement;
  const satellites = document.getElementById(
    "satellites",
  ) as HTMLParagraphElement;
  function parseData(data: String) {
    const parts = data.split(",");
    coordinates.innerText = parts[1] + "\r\n" + parts[2];
    time.innerText = parts[3];
    satellites.innerText = parts[4];
  }

  const serial_console = document.getElementById("console") as HTMLInputElement;
  const serial_console_rows: String[] = [];
  function printData(data: String) {
    if (serial_console_rows.length == 50) {
      serial_console_rows.shift();
    }
    serial_console_rows.push(data + "\r\n");

    serial_console.textContent = "";
    serial_console_rows.forEach((row) => {
      serial_console.textContent += row;
    });
    serial_console.scrollTop = serial_console.scrollHeight;
  }

  async function readPort() {
    while (serial_port?.readable) {
      const decoder = new TextDecoderStream();
      serial_port?.readable.pipeTo(decoder.writable);
      const reader = decoder.readable.getReader();

      let buffer = "";
      try {
        while (true) {
          const { value, done } = await reader.read();

          if (done) {
            break;
          }

          // Extract latest row of data from serial port
          // as Web Serial API gives discontinuous rows
          buffer += value;
          const rows = buffer.split("\r\n");
          buffer = rows.pop() || "";

          rows.forEach((row) => {
            if (row.trim().length === 0) return;
            printData(row);
            parseData(row);
          });
        }
      } catch (error) {
        console.error("Error reading serial port!");
      } finally {
        reader.releaseLock();
      }
    }
  }

  const baud_select = document.getElementById(
    "select-baud-rate",
  ) as HTMLInputElement;
  const connect_button = document.getElementById("connect-port");
  connect_button?.addEventListener("click", async () => {
    const baud_rate = Number(baud_select.value);
    if (serial_port) {
      await serial_port.open({ baudRate: baud_rate });
    }
    readPort();
  });

  const clear_button = document.getElementById("clear-console");
  clear_button?.addEventListener("click", () => {
    serial_console.textContent = "";
  });
</script>
