<ol
  class="m-5 grid grid-cols-5 divide-x-2 divide-y-2 divide-gray-500 text-center"
>
  <li class="col-span-2">
    <label>Communication control</label>
  </li>
  <li>
    <label>GPS coordinates:</label>
  </li>
  <li>
    <label>EET time:</label>
  </li>
  <li>
    <label>Satellite count:</label>
  </li>
  <li>
    <label for="select-port">Choose a port:</label>
  </li>
  <li>
    <button type="button" id="select-port" autofocus>Select</button>
  </li>
  <li class="row-span-3"><p id="coordinates">---</p></li>
  <li class="row-span-3"><p id="time">---</p></li>
  <li class="row-span-3"><p id="satellites">---</p></li>
  <li>
    <label for="select-baud-rate">Choose a baud rate:</label>
  </li>
  <li>
    <select id="select-baud-rate">
      <option value="912600">912600</option>
      <option value="115200">115200</option>
      <option value="9600">9600</option>
    </select>
  </li>
  <li class="col-span-2">
    <button type="button" id="connect-port">Connect port</button>
  </li>
  <li class="col-span-2 flex grow flex-col">
    <textarea
      readonly
      cols="70"
      rows="10"
      id="console"
      class="h-full overflow-hidden bg-gray-200 px-1 text-xs lg:text-sm xl:text-base 2xl:text-lg"
    ></textarea>
    <button type="button" id="clear-console">Clear console</button>
  </li>
  <li class="col-span-3">
    <canvas id="acceleration-chart"></canvas>
  </li>
  <li class="col-span-2">
    <div class="h-80 bg-yellow-100">Map</div>
  </li>
  <li class="col-span-3">
    <canvas id="rotation-chart"></canvas>
  </li>
</ol>

<script>
  // Request serial port from user's browser
  let serial_port: SerialPort | null;
  const port_button = document.getElementById("select-port");
  port_button?.addEventListener("click", () => {
    navigator.serial
      .requestPort()
      .then((port) => {
        serial_port = port;
      })
      .catch((e) => {
        serial_port = null;
      });
  });

  // Configure and open serial port
  const connect_button = document.getElementById("connect-port");
  const baud_select = document.getElementById(
    "select-baud-rate",
  ) as HTMLInputElement;
  connect_button?.addEventListener("click", async () => {
    const baud_rate = Number(baud_select.value);
    if (serial_port) {
      await serial_port.open({ baudRate: baud_rate });
    }
    readPort();
  });

  // Read and buffer data from serial port
  async function readPort() {
    while (serial_port?.readable) {
      const decoder = new TextDecoderStream();
      serial_port?.readable.pipeTo(decoder.writable);
      const reader = decoder.readable.getReader();

      let buffer = "";
      try {
        while (serial_port) {
          const { value, done } = await reader.read();

          if (done) {
            break;
          }

          // Extract latest row of data from serial port
          // as Web Serial API gives discontinuous rows
          buffer += value;
          const rows = buffer.split("\r\n");
          buffer = rows.pop() || "";

          rows.forEach((row) => {
            if (row.trim().length === 0) return;
            printData(row);
            parseData(row);
          });
        }
      } catch (error) {
        console.error("Error reading serial port!");
      } finally {
        reader.releaseLock();
      }
    }
  }

  // Automatically select serial port on page load
  navigator.serial.getPorts().then((ports) => {
    serial_port = ports[0];
  });

  // Stop using serial port if it disconnects
  navigator.serial.addEventListener("disconnect", (e) => {
    if (e.target === serial_port) {
      serial_port = null;
      alert("Device disconnected!");
    }
  });

  // Extract GPS and sensor measurements from serial data row
  // and display latest measurements on page
  const coordinates = document.getElementById(
    "coordinates",
  ) as HTMLParagraphElement;
  const time = document.getElementById("time") as HTMLParagraphElement;
  const satellites = document.getElementById(
    "satellites",
  ) as HTMLParagraphElement;
  function parseData(data: String) {
    const parts = data.split(",");
    coordinates.innerText = parts[1] + "\r\n" + parts[2];
    time.innerText = parts[3];
    satellites.innerText = parts[4];
  }

  // Print serial data rows to page
  const serial_console = document.getElementById("console") as HTMLInputElement;
  const serial_console_rows: String[] = [];
  function printData(data: String) {
    // Limit serial history to 50 rows
    if (serial_console_rows.length == 50) {
      serial_console_rows.shift();
    }
    serial_console_rows.push(data + "\r\n");

    // Sync rows with printed rows on page
    serial_console.textContent = "";
    serial_console_rows.forEach((row) => {
      serial_console.textContent += row;
    });
    serial_console.scrollTop = serial_console.scrollHeight;
  }

  // Clear printed serial data
  const clear_button = document.getElementById("clear-console");
  clear_button?.addEventListener("click", () => {
    serial_console.textContent = "";
  });

  import Chart from "chart.js/auto";
  import { Colors } from "chart.js/auto";

  // Create chart for displaying measured acceleration
  const acc_chart = document.getElementById(
    "acceleration-chart",
  ) as HTMLCanvasElement;
  new Chart(acc_chart, {
    type: "line",
    data: {
      labels: ["-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "0"],
      datasets: [
        {
          label: "X",
          data: [1, 2, 3],
          borderWidth: 1,
        },
        {
          label: "Y",
          data: [3, 2, 1],
          borderWidth: 1,
        },
        {
          label: "Z",
          data: [3, -3, -1],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          title: {
            display: true,
            text: "Acceleration, g",
          },
          max: 4,
          min: -4,
        },
        x: {
          title: {
            display: true,
            text: "Time, s",
          },
        },
      },
      maintainAspectRatio: false,
    },
  });

  // Create chart for displaying measured rotation
  const rot_chart = document.getElementById(
    "rotation-chart",
  ) as HTMLCanvasElement;
  new Chart(rot_chart, {
    type: "line",
    data: {
      labels: ["-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "0"],
      datasets: [
        {
          label: "X",
          data: [1, 2, 3],
          borderWidth: 1,
        },
        {
          label: "Y",
          data: [3, 2, 1],
          borderWidth: 1,
        },
        {
          label: "Z",
          data: [3, -3, -1],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          title: {
            display: true,
            text: "Rotation, deg",
          },
          max: 500,
          min: -500,
        },
        x: {
          title: {
            display: true,
            text: "Time, s",
          },
        },
      },
      maintainAspectRatio: false,
    },
  });
</script>
