<div>
  <label for="port-select">Choose a port:</label>
  <select name="port" id="port-select">
    <option value="">--None--</option>
  </select>
  <button type="button" name="add-port" autofocus>Add</button>
</div>

<div>
  <label for="baud-rate-select">Choose a baud rate:</label>
  <select name="baud-rate" id="baud-rate-select">
    <option value="">--None--</option>
  </select>
</div>

<script></script>
