<ol
  class="m-5 grid grid-cols-5 divide-x-2 divide-y-2 divide-gray-500 text-center"
>
  <li class="col-span-2">
    <label>Communication control</label>
  </li>
  <li>
    <label>GPS coordinates:</label>
  </li>
  <li>
    <label>EET time:</label>
  </li>
  <li>
    <label>Satellite count:</label>
  </li>
  <li>
    <label for="port-select">Choose a port:</label>
  </li>
  <li>
    <select name="port" id="port-select">
      <option value="">--None--</option>
    </select>
    <button type="button" name="add-port" autofocus>Add</button>
  </li>
  <li class="row-span-3"><p>Sample coords</p></li>
  <li class="row-span-3"><p>Sample time</p></li>
  <li class="row-span-3"><p>Sample count</p></li>
  <li>
    <label for="baud-rate-select">Choose a baud rate:</label>
  </li>
  <li>
    <select name="baud-rate" id="baud-rate-select">
      <option value="912600">912600</option>
      <option value="115200">115200</option>
      <option value="9600">9600</option>
    </select>
  </li>
  <li class="col-span-2">
    <button type="button" name="connect-port">Connect port</button>
  </li>
  <li class="col-span-2 flex grow flex-col">
    <textarea
      readonly
      cols="70"
      rows="10"
      name="console"
      class="h-full bg-gray-200"
      >DS,37.551731,14.298466,14:00:38,0,0.04,-0.01,0.99,0.00,0.10,0.02
      DS,37.551731,14.298466,14:00:38,0,0.04,-0.01,0.99,0.00,0.10,0.02
      DS,37.551731,14.298466,14:00:38,0,0.04,-0.01,0.99,0.00,0.10,0.02
    </textarea>
    <button type="button" name="clear-console">Clear console</button>
  </li>
  <li class="col-span-3">
    <div class="h-full bg-red-100">Graph</div>
  </li>
  <li class="col-span-full">
    <div class="h-60 bg-yellow-100">Map</div>
  </li>
</ol>

<script></script>
